@import url(https://fonts.googleapis.com/css?family=Raleway);

@font-face {
  font-family: 'amikobold';
  src: url('../fonts/amiko-bold-webfont.eot');
  src: url('../fonts/amiko-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/amiko-bold-webfont.woff2') format('woff2'),
       url('../fonts/amiko-bold-webfont.woff') format('woff'),
       url('../fonts/amiko-bold-webfont.ttf') format('truetype'),
       url('../fonts/amiko-bold-webfont.svg#amikobold') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'amikoregular';
  src: url('../fonts/amiko-regular-webfont.eot');
  src: url('../fonts/amiko-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/amiko-regular-webfont.woff2') format('woff2'),
       url('../fonts/amiko-regular-webfont.woff') format('woff'),
       url('../fonts/amiko-regular-webfont.ttf') format('truetype'),
       url('../fonts/amiko-regular-webfont.svg#amikoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

html, body {
  font-family: 'amikoregular', Arial, sans-serif;
  letter-spacing: -0.5px;
  line-height: 26px;
}

.fw-bold {
  font-family: 'amikobold', Arial, sans-serif;
}

.container {
  max-width: 1200px;
}

.btn-primary {
  background-color: #6bc4e8;
  border-color: #5ab0d2;
}
.btn-primary:hover {
  background-color: #5ab0d2;
  border-color: #6bc4e8;
}

/*
 * Custom translucent site header
 */

.site-header-top {
  background-color: rgba(217, 217, 217, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header-top a {
  color: #060606;
  transition: color .15s ease-in-out;
}
.site-header-top a:hover {
  color: #fff;
  text-decoration: none;
}

.site-header a {
  color: #060606;
  text-decoration: none;
  position: relative;
}

.site-header a.active, .site-header a:hover {
  color: #242121;
  text-decoration: none;
}

.site-header a.active:after, .site-header a:hover:after {
  content: " ";
  width: 100%;
  height: 5px;
  background: #6bc4e8;
  position: absolute;
  left: 0;
  bottom: 5px;
}
.site-header a.img-logo:hover:after {
  content: " ";
  width: 100%;
  height: 0; 
  bottom: 5px;
}

.header-container {
  margin-bottom: 50px;
}

.header-container .card-img-overlay .centery {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header-container h1 {
  font-family: 'amikobold', Arial, sans-serif;
}

.img-container-grid {
  width: 100%; 
}

.img-overlay-bg {
  height: 350px; 
}

.bg-color-primary {
  background-color: #312783 !important;
}

.bg-banner-image {
  background: rgb(49,40,132);
  background: linear-gradient(121deg, rgba(49,40,132,1) 0%, rgba(49,40,132,1) 40%, rgba(107,196,232,1) 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.5;
}

.bg-banner-image-black { 
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.5) 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.8;
}

.container-items {
  max-width: 960px;
  background-color: #4a4a49;
  position: relative;
}
.container-items .text-bg-dark { 
  background-color: #4a4a49 !important;
}
.container-items img { 
  max-width: 100px;
  height: 75px;
}

.card-bg-gradient {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%, rgba(0,212,255,0) 100%);
}

.bg-gradient-primary {
  background: rgb(49,40,132);
  background: linear-gradient(121deg, rgba(49,40,132,1) 0%, rgba(49,40,132,1) 40%, rgba(107,196,232,1) 100%);
}


.container-75{
  width: 100%;
}
.container-form input, .container-form input:focus {
  border-radius: 0;
  background: transparent;
  color: white !important;
  font-size: 20px;
}
.container-form-contact input, .container-form-contact input:focus {
  border-radius: 0;
  background: transparent; 
  font-size: 20px;
}

.btn-primary-grid {
  background-color: #312783;
}
.btn-primary-grid:hover {
  background-color: #4135a0;
}

.btn-accent-grid {
  background-color: #6bc4e8;
}
.btn-accent-grid:hover {
  background-color: #4c99b7;
}

.badge-color {
  width: 36px;
  height: 36px;
}

.img-certification img{
  max-width: 100%;
  width: 150px;
}

.img-logo img {
  /* width: 300px; */
  height: 96px;
}

.img-rs img {
  width: 28px;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }

  .container-items {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -90px;
  }

  .header-container {
    margin-bottom: 100px;
  }

  .container-75{
    width: 75%;
  }

  .img-overlay-bg {
    height: 600px;
    width: 100%;
    max-width: 1600px;
  }
  .img-overlay-bg-small {
    height: 400px;
    width: 100%;
    max-width: 1600px;
  }
}


/* MENU */
.top-nav { 
  color: #FFF; 
  position: relative;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem; 
}

.menu-button-container {
  display: none;
  height: 45px;
    width: 45px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #dfdfdf;
    border-radius: 5px;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #000;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 968px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 116px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 100;    
    background: white;
    box-shadow: 0px 5px 10px 0px rgb(33 37 41 / 50%);
    border-radius: 0 0 10px 10px;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li { 
    height: 66px;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle ~ .menu li a {
    display: none;
  }
  #menu-toggle:checked ~ .menu li a { 
    display: block;
  }

  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white; 
  } 
}

@media (max-width: 576px) {
  .h5, h5 {
    font-size: 1.0rem;
}
.img-logo img { 
  height: 76px;
}
.border-end.border-white {
  border: 0 !important;
}
.header-container div img {
  height: 225px;
}
.menu { 
  margin-top: 96px;
}

}